:root{
	--BACKGROUND_COLOR: #daebfb;
	--PRIMARY_COLOR: #89bff0;

	--DEVICE_ITEM_WIDTH: 400px;
	--DEVICE_ITEM_HEIGHT: 400px;
}

body{
	background: var(--BACKGROUND_COLOR);
}

button{
	border: none;
	background: #70afeb;
}

button:hover, button:active{
	background: #5aa6ec;
}

.HEADER{
	width: 100vw;

	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;

	background-color: var(--PRIMARY_COLOR);
}

.CONTENTS{
	padding: 20px;
}

.DEVICE_LIST{
	display: grid;

	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(auto-fit, var(--DEVICE_ITEM_WIDTH));
	gap: 20px;
}

.DEVICE_ITEM{
	width: var(--DEVICE_ITEM_WIDTH);
	height: var(--DEVICE_ITEM_HEIGHT);

	background-color: aliceblue;

	padding: 10px;

	overflow-y: auto;
}

.DEVICE_ITEM > .LOGO{
	margin: 5px;
}